/**
* mixin to create a mixin for mobile
*/
@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

/**
* mixin to create a mixin for desktop
*/
@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}
