@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap");
@import "./variables";
@import "./mixin";

// Hidden span to determine the current screen.
.mobile-indicator {
  @media (max-width: 767px) {
    display: none;
  }
}

// Animate Toolbar and make sure it will not flicker in loading.
body:not(.responsive-preview-frame) {
  transition: margin $bar-transition;
  max-width: 100%;
  @media (max-width: 767px) {
    margin-left: 65px !important;
  }

  // Modules compatibility and fixes.
  @import "./seeds-toolbar/compatibility";

  // Light Mode
  &.seeds-toolbar--light {
    @import "./seeds-toolbar/light-mode";
  }
}

// Seeds Toolbar classes.
.fixed-toolbar {
  z-index: 2;
  width: 60px;
  position: relative;
  height: 100%;
}

.seeds-toolbar-background {
  background: $dark-bg;
  min-width: inherit;
  height: 100%;
  position: fixed;
  z-index: -1;
  transition: min-width $bar-transition;
  background: $dark-bg;
  border-right: 1px solid $dark-border;
}

#toolbar-administration.seeds_toolbar {
  // Icons
  @import "./seeds-toolbar/icons";
  // General Styling
  @import "./seeds-toolbar/general";
  // First Level Tabs
  @import "./seeds-toolbar/toolbar-tabs";
  // Administration Menu
  @import "./seeds-toolbar/admin-menu";
  // Toolbar trays
  @import "./seeds-toolbar/toolbar-trays";
}
