$bar-transition: 0.2s;
$dark-bg: #252524;
$dark-border: #111;
$dark-color: #fff;
$dark-placeholder: #f2f2f2;
$dark-bg-hover: #313131;
$dark-tray-headings: #bbbbbb;
$light-bg: #fff;
$light-border: #ccc;
$light-bg-transparent: #fff4;
$light-color: #252524;
$light-placeholder: #777777;
$light-bg-hover: #f2f2f2;
$expand-line: 2px;
$expand-width: 12px;
$expand-transition: 0.35s;
$box-shadow-toolbar: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
