@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap");
/**
* mixin to create a mixin for mobile
*/
/**
* mixin to create a mixin for desktop
*/
@media (max-width: 767px) {
  .mobile-indicator {
    display: none;
  }
}

body:not(.responsive-preview-frame) {
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
  max-width: 100%;
}
@media (max-width: 767px) {
  body:not(.responsive-preview-frame) {
    margin-left: 65px !important;
  }
}
body:not(.responsive-preview-frame) .coffee-form-wrapper.hide-form {
  left: 0;
  visibility: hidden;
}
body:not(.responsive-preview-frame) #responsive-preview-toolbar-tab {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  top: auto;
}
@media (max-width: 767px) {
  body:not(.responsive-preview-frame) #responsive-preview-toolbar-tab {
    display: none;
  }
}
body:not(.responsive-preview-frame) #admin-toolbar-mobile-search-tab {
  display: none !important;
}
body:not(.responsive-preview-frame) #admin-toolbar-search-tab #toolbar-item-administration-search-tray {
  z-index: 1000 !important;
  background: none;
  position: absolute;
  top: 0;
  left: -1500px !important;
}
body:not(.responsive-preview-frame) #admin-toolbar-search-tab #toolbar-item-administration-search-tray .js-form-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 150px;
  margin: auto;
  width: 80%;
  max-width: 500px;
  height: 60px;
}
body:not(.responsive-preview-frame) #admin-toolbar-search-tab #toolbar-item-administration-search-tray .js-form-item label {
  margin-bottom: 18px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: block;
}
body:not(.responsive-preview-frame) #admin-toolbar-search-tab .toolbar-lining {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
}
body:not(.responsive-preview-frame) #admin-toolbar-search-tab .toolbar-lining.shown {
  visibility: visible;
  opacity: 1;
}
body:not(.responsive-preview-frame).is-fullscreen-mode .edit-post-layout {
  left: 55px !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-menu {
  background-color: #fff;
  border-color: #ccc;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light a,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light button {
  background: #fff;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light a.open,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light a:hover,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light a:focus,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light button.open,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light button:hover,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light button:focus {
  background: #f2f2f2;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar {
  background: #fff;
  border-right: 1px solid #ccc;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > a,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > button {
  background: #fff4;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > a.open,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > a:hover,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > a:focus,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > button.open,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > button:hover,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tab > button:focus {
  background: #f2f2f2;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tray {
  background: #fff;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tray .menu-item-title {
  color: #252524;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tray a,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tray button {
  color: #252524 !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tray .seeds-expand-item:before,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-bar .toolbar-tray .seeds-expand-item:after {
  background: #252524;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-background {
  background: #fff;
  border-color: #ccc;
}
@media (max-width: 767px) {
  body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light li.mobile-open a,
  body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light li.mobile-open button {
    background: #f2f2f2;
  }
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray nav {
  scrollbar-color: #f2f2f2 #fff !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray nav::-webkit-scrollbar-thumb {
  background: #f2f2f2;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray {
  scrollbar-color: #f2f2f2 #fff !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray::-webkit-scrollbar-thumb {
  background: #f2f2f2;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray .menu-item--expanded:hover > a,
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray .menu-item--expanded:hover > button {
  background: #f2f2f2 !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:before {
  border-right-color: #fff !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:hover::before {
  border-right-color: #f2f2f2 !important;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light h2.seeds-heading {
  color: #252524;
  font-weight: bold;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-search-container input {
  border-color: #ccc;
  color: #252524;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-search-container input::-webkit-input-placeholder {
  color: #777777;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-search-container input::-moz-placeholder {
  color: #777777;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-search-container input:-ms-input-placeholder {
  color: #777777;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-search-container input::-ms-input-placeholder {
  color: #777777;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .seeds-toolbar-search-container input::placeholder {
  color: #777777;
}
body:not(.responsive-preview-frame).seeds-toolbar--light #toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-fixed-help-item {
  border-color: #ccc;
}
body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs {
  background-color: #fff;
}
body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li a,
body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li #toolbar-administration.seeds_toolbar button,
#toolbar-administration.seeds_toolbar body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li button {
  color: #252524;
}
body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li a:hover,
body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li #toolbar-administration.seeds_toolbar button:hover,
#toolbar-administration.seeds_toolbar body:not(.responsive-preview-frame).seeds-toolbar--light.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs li button:hover {
  background-color: #f2f2f2;
}

.fixed-toolbar {
  z-index: 2;
  width: 60px;
  position: relative;
  height: 100%;
}

.seeds-toolbar-background {
  background: #252524;
  min-width: inherit;
  height: 100%;
  position: fixed;
  z-index: -1;
  -webkit-transition: min-width 0.2s;
  transition: min-width 0.2s;
  background: #252524;
  border-right: 1px solid #111;
}

#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a:before,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button:before,
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before,
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before {
  content: "";
  background-size: 28px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  background-position: center;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #toolbar-item-administration:before {
  background-image: url("../icons/dark/administration.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #toolbar-item-shortcuts:before {
  background-image: url("../icons/dark/shortcuts.svg");
  background-size: 25px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #toolbar-item-user:before {
  background-image: url("../icons/dark/user.svg");
  background-size: 35px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #toolbar-item-user:before {
  margin-top: 3px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-edit:before {
  background-image: url("../icons/dark/edit.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-edit.is-active:before {
  background-image: url("../icons/dark/edit-active.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-system-admin-content::before {
  background-image: url("../icons/dark/content.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-system-admin-structure::before {
  background-image: url("../icons/dark/structure.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-system-themes-page::before {
  background-image: url("../icons/dark/themes.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-system-modules-list::before {
  background-image: url("../icons/dark/modules.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-system-admin-config::before {
  background-image: url("../icons/dark/config.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-entity-user-collection::before {
  background-image: url("../icons/dark/people.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-system-admin-reports::before {
  background-image: url("../icons/dark/reports.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-help-main::before {
  background-image: url("../icons/dark/help.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-seeds-local-task::before {
  background-image: url("../icons/dark/pencel.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-support:before {
  background-image: url("../icons/dark/support.svg");
  background-size: 24px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-seeds-add:before {
  background-image: url("../icons/dark/add.svg");
  background-size: 30px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #responsive-preview-toolbar-tab button:before {
  background-image: url("../icons/dark/mobile.svg");
  background-size: 22px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #responsive-preview-toolbar-tab button::before {
  background-position: center;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before {
  background: url("../icons/logo/logo.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-masquerade:before {
  background-image: url("../icons/dark/masquerade.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-coffee:before {
  background-image: url("../icons/dark/coffee.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-devel:before {
  background-image: url("../icons/dark/devel.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-tab.seeds-logo,
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-tab.contextual {
  position: relative;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-tab.menu {
  margin-top: 22px;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-tab.responsive-preview {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-seeds {
  border-bottom: 1px solid #111 !important;
  border-top: 1px solid #111 !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-seeds:hover {
  background-color: transparent !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-seeds ~ img {
  height: 100px;
  max-width: 40px;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-escape-admin {
  width: 100% !important;
  margin-bottom: 0 !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark .toolbar-icon-escape-admin:before {
  background-image: url("../icons/dark/back.svg");
  background-size: 20px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #toolbar-item-administration-search:before {
  background-image: url("../icons/dark/search.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--dark #toolbar-tab-tour .toolbar-icon:before {
  background-image: url("../icons/dark/tour.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-item-administration:before {
  background-image: url("../icons/light/administration.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-item-shortcuts:before {
  background-image: url("../icons/light/shortcuts.svg");
  background-size: 25px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-item-user:before {
  background-image: url("../icons/light/user.svg");
  background-size: 35px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-item-user:before {
  margin-top: 3px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-edit:before {
  background-image: url("../icons/light/edit.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-edit.is-active:before {
  background-image: url("../icons/light/edit-active.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-system-admin-content::before {
  background-image: url("../icons/light/content.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-system-admin-structure::before {
  background-image: url("../icons/light/structure.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-system-themes-page::before {
  background-image: url("../icons/light/themes.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-system-modules-list::before {
  background-image: url("../icons/light/modules.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-system-admin-config::before {
  background-image: url("../icons/light/config.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-entity-user-collection::before {
  background-image: url("../icons/light/people.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-system-admin-reports::before {
  background-image: url("../icons/light/reports.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-help-main::before {
  background-image: url("../icons/light/help.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-seeds-local-task::before {
  background-image: url("../icons/light/pencel.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-support:before {
  background-image: url("../icons/light/support.svg");
  background-size: 24px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-seeds-add:before {
  background-image: url("../icons/light/add.svg");
  background-size: 30px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #responsive-preview-toolbar-tab button:before {
  background-image: url("../icons/light/mobile.svg");
  background-size: 22px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #responsive-preview-toolbar-tab button::before {
  background-position: center;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-admin-toolbar-tools-help.toolbar-icon:before {
  background: url("../icons/logo/logo.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-masquerade:before {
  background-image: url("../icons/light/masquerade.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-coffee:before {
  background-image: url("../icons/light/coffee.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-devel:before {
  background-image: url("../icons/light/devel.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tab.seeds-logo,
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tab.contextual {
  position: relative;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tab.menu {
  margin-top: 22px;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-tab.responsive-preview {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-seeds {
  border-bottom: 1px solid #111 !important;
  border-top: 1px solid #111 !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-seeds:hover {
  background-color: transparent !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-seeds ~ img {
  height: 100px;
  max-width: 40px;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-escape-admin {
  width: 100% !important;
  margin-bottom: 0 !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light .toolbar-icon-escape-admin:before {
  background-image: url("../icons/light/back.svg");
  background-size: 20px !important;
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-item-administration-search:before {
  background-image: url("../icons/light/search.svg");
}
#toolbar-administration.seeds_toolbar.seeds-toolbar--light #toolbar-tab-tour .toolbar-icon:before {
  background-image: url("../icons/light/tour.svg");
}
#toolbar-administration.seeds_toolbar .acquia-inactive-subscription:before {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
#toolbar-administration.seeds_toolbar .acquia-active-subscription:before {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
#toolbar-administration.seeds_toolbar {
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
}
#toolbar-administration.seeds_toolbar ul {
  background: #252524;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
#toolbar-administration.seeds_toolbar ul li {
  display: block;
  padding: 0;
}
#toolbar-administration.seeds_toolbar ul li:hover > a,
#toolbar-administration.seeds_toolbar ul li:hover > button {
  background: #313131;
}
#toolbar-administration.seeds_toolbar ul li:hover::before {
  border-right-color: #313131 !important;
}
#toolbar-administration.seeds_toolbar ul li:hover:before {
  border-right-color: #313131 !important;
}
#toolbar-administration.seeds_toolbar ul li:hover::before {
  border-right-color: #313131 !important;
}
#toolbar-administration.seeds_toolbar ul li a,
#toolbar-administration.seeds_toolbar ul li button {
  background: #252524;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar ul li.mobile-open a,
  #toolbar-administration.seeds_toolbar ul li.mobile-open button {
    background: #313131;
  }
}
#toolbar-administration.seeds_toolbar a,
#toolbar-administration.seeds_toolbar button {
  padding: 8px 20px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
#toolbar-administration.seeds_toolbar a:focus,
#toolbar-administration.seeds_toolbar button:focus {
  outline: unset;
  background-color: #313131;
}
#toolbar-administration.seeds_toolbar a:hover,
#toolbar-administration.seeds_toolbar button:hover {
  color: #fff;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar a,
  #toolbar-administration.seeds_toolbar button {
    padding: 8px 36px 8px 20px;
  }
}
#toolbar-administration.seeds_toolbar button {
  background: transparent;
  border: 0;
  width: 100%;
  text-align: inherit;
}
#toolbar-administration.seeds_toolbar button:before {
  content: none;
}
#toolbar-administration.seeds_toolbar #toolbar-bar {
  line-height: normal;
  height: 100%;
  z-index: auto;
  position: relative;
  background: #252524;
  border-right: 1px solid #111;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab {
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: none;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button {
  position: relative;
  overflow: hidden;
  text-indent: 9999px;
  background: transparent;
  border: 0;
  display: inline-block;
  padding: 0;
  white-space: nowrap;
  width: 40px;
  height: 40px;
  margin-bottom: 22px;
  margin-right: 3px;
  top: 0;
  left: 0;
  cursor: pointer;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a::after,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button::after {
  display: none;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a.open,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a:hover,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button.open,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button:hover {
  background: #313131;
}
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab a,
#toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab button {
  line-height: normal;
  text-align: start;
}
#toolbar-administration.seeds_toolbar #toolbar-bar .account {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#toolbar-administration.seeds_toolbar #toolbar-bar .contextual-toolbar-tab,
#toolbar-administration.seeds_toolbar #toolbar-bar #responsive-preview-toolbar-tab {
  float: none;
}
#toolbar-administration.seeds_toolbar #toolbar-bar .contextual-toolbar-tab:before,
#toolbar-administration.seeds_toolbar #toolbar-bar #responsive-preview-toolbar-tab:before {
  background: none;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul {
  margin-top: 20px;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li {
  position: relative;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > button {
  padding-left: 65px !important;
  padding-right: 12px !important;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a::after,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > button::after {
  display: none;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a:before,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > button:before {
  content: " ";
  background-size: 26px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  margin: 0 8px;
  padding: 0;
  height: 26px;
  width: 26px;
  top: 8px;
  left: 12px;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded {
  position: relative;
}
@media (min-width: 768px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded {
    position: static;
  }
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul {
  display: none;
  position: absolute;
  left: 100%;
  margin: 0;
  top: 0;
}
@media (min-width: 768px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul {
    bottom: 0;
    min-width: 260px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
  }
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li a,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li button {
  white-space: nowrap;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li a::before,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded > ul li button::before {
  display: none !important;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded:hover > ul > li:first-child:before {
  border-right-color: #252524 !important;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded:hover > ul > li:first-child:hover::before {
  border-right-color: #313131 !important;
}
@media (min-width: 768px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent > ul {
    display: block;
  }
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent > ul > li:first-child:before {
    right: 100%;
    z-index: auto;
    top: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 8px;
    margin-top: -8px;
  }
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item > ul {
    display: block;
    left: auto;
    top: 100%;
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
  }
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item > ul a,
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item > ul button {
    white-space: normal;
  }
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.hover-intent.toolbar-fixed-help-item ~ li {
    display: none;
  }
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.mobile-open > ul {
    display: block;
    position: relative;
    left: auto;
    right: auto;
  }
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.mobile-open > .seeds-expand-item:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.mobile-open > .seeds-expand-item:before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  opacity: 0;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item {
  position: fixed !important;
  border-bottom: 1px solid #111;
  z-index: 1;
  top: -1px;
  left: -190px;
  -webkit-transition: width 0.2s, left 0.2s, right 0.2s;
  transition: width 0.2s, left 0.2s, right 0.2s;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item .menu-item-title {
  display: none;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item ul {
  bottom: auto;
  border-bottom: 1px solid #111;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > a,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > button {
  padding: 50px 25px;
  margin: 0 1px;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > a img,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .menu-item--expanded.toolbar-fixed-help-item > button img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 15px auto;
  max-width: 150px;
  max-height: 70px;
  width: auto;
  height: auto;
  margin: auto;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item {
  width: 30px;
  height: 35px;
  position: absolute;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 5px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item::before,
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item::after {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  #toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-expand-item {
    display: none;
  }
}
#toolbar-administration.seeds_toolbar .toolbar-menu-administration .seeds-toolbar-search {
  display: none;
}
#toolbar-administration.seeds_toolbar .toolbar-tray {
  margin-left: -1px;
  padding: 100px 0 70px;
  position: fixed;
  left: -250px !important;
  min-width: 260px;
  top: 0;
  bottom: 0;
  z-index: -2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  scrollbar-color: #313131 #252524 !important;
  max-width: 260px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-administration-tray {
  z-index: -1 !important;
}
#toolbar-administration.seeds_toolbar .toolbar-tray#toolbar-item-seeds-add-tray {
  padding-bottom: 60px;
  max-width: 250px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray nav {
  overflow-y: auto;
  height: 100%;
  scrollbar-color: #313131 #252524;
  padding-bottom: 100px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray nav::-webkit-scrollbar {
  width: 10px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray nav::-webkit-scrollbar-thumb {
  background: #313131;
}
#toolbar-administration.seeds_toolbar .toolbar-tray .menu-item-title {
  margin: 0;
  color: #bbbbbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-tray .menu-item-title {
    display: none;
  }
}
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading {
  margin: 0;
  font-size: unset;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 20px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading a,
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading button {
  color: #bbbbbb;
  text-align: center;
}
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading a + ul,
#toolbar-administration.seeds_toolbar .toolbar-tray h2.seeds-heading button + ul {
  margin-bottom: 35px;
}
#toolbar-administration.seeds_toolbar .toolbar-tray .seeds-item {
  position: relative;
}
#toolbar-administration.seeds_toolbar .toolbar-tray .seeds-item .useful-link {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
#toolbar-administration.seeds_toolbar .toolbar-tray .seeds-item:hover .useful-link {
  visibility: visible;
}
#toolbar-administration.seeds_toolbar .toolbar-tray.shown {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
#toolbar-administration.seeds_toolbar .toolbar-tray.expanded-by-default {
  left: 65px !important;
}
#toolbar-administration.seeds_toolbar .toolbar-tray::-webkit-scrollbar-thumb {
  background: #313131;
}
@media (max-width: 767px) {
  #toolbar-administration.seeds_toolbar .toolbar-tray {
    overflow-y: auto;
    height: 100%;
  }
  #toolbar-administration.seeds_toolbar .toolbar-tray::-webkit-scrollbar {
    position: relative;
    right: 60px;
    width: 10px;
  }
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container {
  padding: 0 15px;
  margin: 20px 0;
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container input::-webkit-input-placeholder {
  color: #f2f2f2;
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container input::-moz-placeholder {
  color: #f2f2f2;
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container input:-ms-input-placeholder {
  color: #f2f2f2;
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container input::-ms-input-placeholder {
  color: #f2f2f2;
}
#toolbar-administration.seeds_toolbar .seeds-toolbar-search-container input::placeholder {
  color: #f2f2f2;
}
