#toolbar-administration.seeds_toolbar.seeds-toolbar--light {
  .toolbar-tray {
    .menu-item--expanded {
      &:hover {
        & > ul {
          & > li:first-child {
            &:before {
              border-right-color: transparent !important;
              border-left-color: $light-bg !important;
            }

            &:hover {
              &::before {
                border-right-color: transparent !important;
                border-left-color: $light-bg-hover !important;
              }
            }
          }
        }
      }
    }
  }
  #toolbar-bar {
    border-right: 0;
    border-left: 1px solid $light-border;
  }
}
.toolbar-icon-escape-admin::before {
  background-image: url("../icons/light/back-rtl.svg") !important;
}
