@import url("https://fonts.googleapis.com/css?family=Tajawal");
@import "../variables";

html[dir="rtl"] {
  body {
    @media (max-width: 767px) {
      margin-right: 65px !important;
      margin-left: auto !important;
    }

    &.seeds-local-tasks {
      nav.tabs {
        > .tabs--primary.nav-tabs {
          float: left;
        }
      }
    }
    #admin-toolbar-search-tab {
      #toolbar-item-administration-search-tray {
        left: 1500px !important;
      }
    }
  }

  .seeds-toolbar-background {
    border-left: 1px solid $dark-border;
    border-right: 0;
  }
  body {
    &.seeds-toolbar--light {
      @import "./light-mode";
    }
    #toolbar-administration.seeds_toolbar {
      font-family: "Tajawal";
      left: auto;
      right: 0;

      a {
        @media (max-width: 767px) {
          padding: 8px 20px 8px 36px;
        }
      }
      .toolbar-bar {
        .toolbar-tray {
          right: -260px;
          left: auto !important;

          &.expanded-by-default {
            right: 65px;
          }
        }
      }

      #toolbar-bar {
        border-right: 0;
        border-left: 1px solid $dark-border;
        &::before {
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.2) 0px,
            rgba(0, 0, 0, 0.5) 1px,
            rgba(0, 0, 0, 0.05) 1px,
            rgba(0, 0, 0, 0) 100%
          );
        }
      }

      // Style for sub menues.
      .toolbar-tray {
        margin-right: -1px;

        .menu-item--expanded {
          @media (min-width: 768px) {
            & > ul {
              right: 100%;
              left: auto;
            }
          }

          &.hover-intent {
            & > ul {
              & > li:first-child::before {
                left: 100%;
                right: auto;
              }
            }
          }
          &:hover {
            & > ul {
              & > li:first-child {
                &:before {
                  border-right-color: transparent !important;
                  border-left-color: $dark-bg !important;
                }

                &:hover {
                  &::before {
                    border-right-color: transparent !important;
                    border-left-color: $dark-bg-hover !important;
                  }
                }
              }
            }
          }
        }
      }

      #toolbar-bar {
        height: 100vh;
        z-index: auto;
        position: relative;

        &::before {
          left: 0;
          right: auto;
        }

        & > .toolbar-tab {
          & > a,
          & > button {
            top: 0;
            left: 0;
            margin-left: 3px;
            margin-right: 0;
            &::after {
              display: none;
            }
          }
        }
      }

      .toolbar-menu-administration {
        & > ul {
          & > li {
            &.menu-item--expanded.toolbar-fixed-help-item {
              right: -190px;
              left: auto;
            }

            & > a {
              padding-right: 60px !important;
              padding-left: 25px !important;

              &::before {
                right: 12px;
                left: auto;
              }
            }
          }
        }
      }

      .seeds-expand-item {
        left: 0;
        right: auto;
      }

      &.seeds-toolbar--dark {
        .toolbar-icon-escape-admin::before {
          background-image: url("../icons/dark/back-rtl.svg");
        }
      }
    }
  }
  #toolbar-administration.seeds_toolbar .toolbar-tray .seeds-item .useful-link {
    right: auto;
    left: 0;
  }
}
