{% set fixed_logo_attributes = create_attribute() %}
<div{{attributes.addClass('toolbar','seeds_toolbar')}}>
  <span class="mobile-indicator"></span>
  <div class="seeds-toolbar-background"></div>
  <div class="fixed-toolbar">
    <nav{{toolbar_attributes.addclass('toolbar-bar','clearfix')}}>
      <h2 class="visually-hidden">{{ toolbar_heading }}</h2>
      {% for key, tab in tabs %}
      {% set tray = trays[key] %}
      {% set tray_class = tray.label | split(' ')[1] %}
      {% set key_class = key | replace({'_': '-'}) %}
      <div{{tab.attributes.addClass('toolbar-tab',tray_class,key_class)}}>
        {{ tab.link }}
        {% if key == 'seeds_logo' %}
        <img src='{{icon_link}}'/>
        {% endif %}
        {% apply spaceless %}
        <div{{tray.attributes}}>
          {% if tray.label %}
            <nav class="toolbar-lining clearfix" role="navigation" aria-label="{{ tray.label }}">
            <h3 class="toolbar-tray-name visually-hidden">{{ tray.label }}</h3>
          {% else %}
            <nav class="toolbar-lining clearfix" role="navigation">
          {% endif %}
          {{ tray.links }}
          </nav>
        </div>
        {% endapply %}
      </div>
      {% endfor %}
    </nav>
    {{ remainder }}
  </div>
</div>