<h1 id="seedstoolbar">{% trans %}Seeds Toolbar{% endtrans %}</h1>
<p><img src="https://www.drupal.org/files/ezgif-2-bf7cfbfa276e.gif" alt="Seeds Toolbar"/>
  {% trans %}Is a new UX concept for Drupal admin navigation.{% endtrans %}
</p>
<p>
  {% trans %}
  Seeds Toolbar is part of our journey to build
  <a href="https://drupal.org/project/seeds">Seeds</a>, a kickoff distribution for SMEs.
  {% endtrans %}
</p>
<h2 id="seedstoolbaroptions">{% trans %}Seeds Toolbar Options{% endtrans %}</h2>
<ul>
  <li>{% trans %}Choose between light or dark mode{% endtrans %}</li>
  <li>{% trans %}Change Drupal logo to your website logo{% endtrans %}</li>
  <li>{% trans %}Add your helpdesk link and leave it empty to hide it.{% endtrans %}</li>
  <li>{% trans %}Load custom css style.{% endtrans %}</li>
</ul>
<h2 id="seedstoolbarfeatures">{% trans %}Seeds Toolbar Features{% endtrans %}</h2>
<h3 id="uxenhancements">{% trans %}UX enhancements{% endtrans %}</h3>
<p>{% trans %}We invested a lot of time enhancing the experience of daily tasks on Drupal CMS.{% endtrans %}</p>
<h3 id="mobilefirst">{% trans %}Mobile first:{% endtrans %}</h3>
<p>{% trans %}Editing your website from mobile is fully supported, indeed it's the best experience that will never stop enhanced.{% endtrans %}</p>
<h3 id="rtlcompatibility">{% trans %}RTL compatibility{% endtrans %}</h3>
<p>{% trans %}We developed more than 55 Arabic websites, and we suffer a lot from lack of support for RTL interfaces, Root is your best choice to get rid of heavy-duty website updates.{% endtrans %}</p>
<h3 id="freedom">{% trans %}FREEDOM{% endtrans %}</h3>
<p>{% trans %}Seeds Toolbar is simple, colorless and can be used with any identity, you can choose between light or dark mode.{% endtrans %}</p>
<h3 id="support">{% trans %}Support{% endtrans %}</h3>
<p>{% trans %}Your request is ours, and this theme is developed to serve more than 70 clients websites crafted by our developers at
  <a href="https://www.sprintive.com">sprintive</a>.{% endtrans %}
</p>
<h2 id="thismoduleistestedwiththefollowingmodules">{% trans %}This module is tested with the following modules{% endtrans %}</h2>
<ul>
  <li>Responsive Preview</li>
  <li>Coffee</li>
  <li>Devel</li>
  <li>Block Content Permissions</li>
  <li>Masquerade</li>
  <li>Menu Link Attributes</li>
  <li>Tour UI</li>
  <li>Acquia connector</li>
</ul>
<h3 id="thismoduleissponsoredby">{% trans %}This module is sponsored by:{% endtrans %}</h3>
<p><img src="https://www.drupal.org/files/styles/grid-3/public/drupal_3.png" alt="Sprintive"/></p>