{#
/**
* @file
* Default theme implementation to display a toolbar menu.
*
* Available variables:
* - menu_name: The machine name of the menu.
* - items: A nested list of menu items. Each menu item contains:
*   - attributes: HTML attributes for the menu item.
*   - below: The menu item child items.
*   - title: The menu link title.
*   - url: The menu link url, instance of \Drupal\Core\Url
*   - localized_options: Menu link localized options.
*   - is_expanded: TRUE if the link has visible children within the current
*     menu tree.
*   - is_collapsed: TRUE if the link has children within the current menu tree
*     that are not currently visible.
*   - in_active_trail: TRUE if the link is in the active trail.
*
* @ingroup themeable
*/
#}
{% import _self as menus %}
{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% if use_admin_search %}
  <div class="seeds-toolbar-search-container">
    <input placeholder="{{'Search...' | t}}" class="seeds-toolbar-admin-search"/>
  </div>
{% endif %}

{{ menus.menu_links(items, attributes, 0,logo_link) }}

{% if use_admin_search %}
  <div class="seeds-toolbar-search">
    {{menus.search_links(search_items)}}
  </div>
{% endif %}

{% macro menu_links(items, attributes, menu_level, logo_link, parent_title) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{attributes.addClass('toolbar-menu')}}>
    {% else %}
      <ul class="toolbar-menu">
      <h2 class="menu-item-title">{{parent_title}}</h2>
    {% endif %}
  
    {% for item in items %}
      {% if loop.first and menu_level == 0 %}{% endif %}
      {%
      set classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
      ]
      %}
      {% if loop.first and menu_level == 0 %}
        <li{{item.attributes.addClass(classes,'toolbar-fixed-help-item')}}>
          <a href={{item.url}}>
            <img src="{{logo_link}}"/>
          </a>
          {% if item.below %}
             {{ menus.menu_links(item.below, attributes, menu_level + 1, null,item.title) }}
          {% endif %}
        </li>
      {% else %}
          {% set url_attributes = create_attribute() %}
          <li{{item.attributes.addClass(classes)}}>
            {{link(item.title,item.url)}}
            {% if item.below %}
              <span class="seeds-expand-item"></span>
              {{ menus.menu_links(item.below, attributes, menu_level + 1, null, item.title) }}
            {% endif %}
          </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro search_links(items) %}
  {% if items %}
    {% for item in items %}
      {{link(item.title,item.url)}}
    {% endfor %}
  {% endif %}
{% endmacro %}