// Module integration Fixes.
// Coffee Module.
.coffee-form-wrapper.hide-form {
  left: 0;
  visibility: hidden;
}

// Responsive preview Module.
#responsive-preview-toolbar-tab {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  top: auto;
  @media (max-width: 767px) {
    display: none;
  }
}

// New admin toolbar serach.
#admin-toolbar-mobile-search-tab {
  display: none !important;
}
#admin-toolbar-search-tab {
  #toolbar-item-administration-search-tray {
    z-index: 1000 !important;
    background: none;
    position: absolute;
    top: 0;
    left: -1500px !important;
    .js-form-item {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 150px;
      margin: auto;
      width: 80%;
      max-width: 500px;
      height: 60px;
      label {
        margin-bottom: 18px;
        color: $dark-color;
        font-weight: bold;
        font-size: 20px;
        display: block;
      }
    }
  }
  .toolbar-lining {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.35);
    &.shown {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Support gutenburg editor.
&.is-fullscreen-mode .edit-post-layout {
  left: 55px !important;
}
