& {
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: $bar-transition;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;

  ul {
    background: $dark-bg;
    padding: 0;
    box-shadow: none;
    margin: 0;

    li {
      display: block;
      padding: 0;

      &:hover {
        & > a {
          background: $dark-bg-hover;
        }

        &::before {
          border-right-color: $dark-bg-hover !important;
        }

        &:before {
          border-right-color: $dark-bg-hover !important;
        }
      }

      &:hover {
        &::before {
          border-right-color: $dark-bg-hover !important;
        }
      }

      a {
        background: $dark-bg;
      }

      &.mobile-open {
        @media (max-width: 767px) {
          a {
            background: $dark-bg-hover;
          }
        }
      }
    }
  }

  a {
    padding: 8px 20px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: $dark-color;
    user-select: none;
    position: relative;

    &:focus {
      outline: unset;
      background-color: $dark-bg-hover;
    }

    &:hover {
      color: $dark-color;
    }
    @media (max-width: 767px) {
      padding: 8px 36px 8px 20px;
    }
  }

  button {
    background: transparent;
    border: 0;
    width: 100%;
    text-align: inherit;
    @extend a;

    &:before {
      content: none;
    }
  }
}
