%icon-setup {
  content: "";
  background-size: 28px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  background-position: center;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

@mixin icon($name, $type, $size: null) {
  &:before {
    background-image: url("../icons/#{$type}/#{$name}.svg");
    @if $size {
      background-size: $size !important;
    }
  }
}

&.seeds-toolbar--dark {
  #toolbar-item-administration {
    @include icon("administration", "dark");
  }

  #toolbar-item-shortcuts {
    @include icon("shortcuts", "dark", 25px);
  }

  #toolbar-item-user {
    @include icon("user", "dark", 35px);
    &:before {
      margin-top: 3px !important;
    }
  }

  .toolbar-icon-edit {
    @include icon("edit", "dark");
    &.is-active {
      @include icon("edit-active", "dark");
    }
  }

  .toolbar-icon-system-admin-content::before {
    background-image: url("../icons/dark/content.svg");
  }

  .toolbar-icon-system-admin-structure::before {
    background-image: url("../icons/dark/structure.svg");
  }

  .toolbar-icon-system-themes-page::before {
    background-image: url("../icons/dark/themes.svg");
  }

  .toolbar-icon-system-modules-list::before {
    background-image: url("../icons/dark/modules.svg");
  }

  .toolbar-icon-system-admin-config::before {
    background-image: url("../icons/dark/config.svg");
  }
  .toolbar-icon-entity-user-collection::before {
    background-image: url("../icons/dark/people.svg");
  }

  .toolbar-icon-system-admin-reports::before {
    background-image: url("../icons/dark/reports.svg");
  }

  .toolbar-icon-help-main::before {
    background-image: url("../icons/dark/help.svg");
  }
  .toolbar-icon-seeds-local-task::before {
    background-image: url("../icons/dark/pencel.svg");
  }
  .toolbar-icon-support {
    @include icon("support", "dark", 24px);
  }

  .toolbar-icon-seeds-add {
    @include icon("add", "dark", 30px);
  }

  #responsive-preview-toolbar-tab button {
    @include icon("mobile", "dark", 22px);
    &::before {
      background-position: center;
    }
  }

  .toolbar-icon-admin-toolbar-tools-help.toolbar-icon {
    &:before {
      @extend %icon-setup;
      background: url("../icons/logo/logo.svg");
    }
  }

  .toolbar-icon-masquerade {
    @include icon("masquerade", "dark");
  }

  .toolbar-icon-coffee {
    @include icon("coffee", "dark");
  }

  .toolbar-icon-devel {
    @include icon("devel", "dark");
  }
  .toolbar-tab {
    &.seeds-logo,
    &.contextual {
      position: relative;
    }
    &.menu {
      margin-top: 22px;
    }
    &.responsive-preview {
      height: fit-content;
    }
  }
  .toolbar-icon-seeds {
    border-bottom: 1px solid $dark-border !important;
    border-top: 1px solid $dark-border !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    &:hover {
      background-color: transparent !important;
    }
    ~ img {
      height: 100px;
      max-width: 40px;
    }
  }

  .toolbar-icon-escape-admin {
    @include icon("back", "dark", 20px);
    width: 100% !important;
    margin-bottom: 0 !important;
  }

  #toolbar-item-administration-search {
    @include icon("search", "dark");
  }

  #toolbar-tab-tour .toolbar-icon {
    @include icon("tour", "dark");
  }
}

&.seeds-toolbar--light {
  #toolbar-item-administration {
    @include icon("administration", "light");
  }

  #toolbar-item-shortcuts {
    @include icon("shortcuts", "light", 25px);
  }

  #toolbar-item-user {
    @include icon("user", "light", 35px);
    &:before {
      margin-top: 3px !important;
    }
  }

  .toolbar-icon-edit {
    @include icon("edit", "light");
    &.is-active {
      @include icon("edit-active", "light");
    }
  }

  .toolbar-icon-system-admin-content::before {
    background-image: url("../icons/light/content.svg");
  }

  .toolbar-icon-system-admin-structure::before {
    background-image: url("../icons/light/structure.svg");
  }

  .toolbar-icon-system-themes-page::before {
    background-image: url("../icons/light/themes.svg");
  }

  .toolbar-icon-system-modules-list::before {
    background-image: url("../icons/light/modules.svg");
  }

  .toolbar-icon-system-admin-config::before {
    background-image: url("../icons/light/config.svg");
  }
  .toolbar-icon-entity-user-collection::before {
    background-image: url("../icons/light/people.svg");
  }

  .toolbar-icon-system-admin-reports::before {
    background-image: url("../icons/light/reports.svg");
  }

  .toolbar-icon-help-main::before {
    background-image: url("../icons/light/help.svg");
  }
  .toolbar-icon-seeds-local-task::before {
    background-image: url("../icons/light/pencel.svg");
  }
  .toolbar-icon-support {
    @include icon("support", "light", 24px);
  }

  .toolbar-icon-seeds-add {
    @include icon("add", "light", 30px);
  }

  #responsive-preview-toolbar-tab button {
    @include icon("mobile", "light", 22px);
    &::before {
      background-position: center;
    }
  }

  .toolbar-icon-admin-toolbar-tools-help.toolbar-icon {
    &:before {
      @extend %icon-setup;
      background: url("../icons/logo/logo.svg");
    }
  }

  .toolbar-icon-masquerade {
    @include icon("masquerade", "light");
  }

  .toolbar-icon-coffee {
    @include icon("coffee", "light");
  }

  .toolbar-icon-devel {
    @include icon("devel", "light");
  }

  .toolbar-tab {
    &.seeds-logo,
    &.contextual {
      position: relative;
    }
    &.menu {
      margin-top: 22px;
    }
    &.responsive-preview {
      height: fit-content;
    }
  }
  .toolbar-icon-seeds {
    border-bottom: 1px solid $dark-border !important;
    border-top: 1px solid $dark-border !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    &:hover {
      background-color: transparent !important;
    }
    ~ img {
      height: 100px;
      max-width: 40px;
    }
  }

  .toolbar-icon-escape-admin {
    @include icon("back", "light", 20px);
    width: 100% !important;
    margin-bottom: 0 !important;
  }

  #toolbar-item-administration-search {
    @include icon("search", "light");
  }

  #toolbar-tab-tour .toolbar-icon {
    @include icon("tour", "light");
  }
}

.acquia-inactive-subscription:before {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
.acquia-active-subscription:before {
  background-image: url(/core/misc/icons/73b355/check.svg);
}
