#toolbar-administration.seeds_toolbar.seeds-toolbar--light {
  .toolbar-menu {
    background-color: $light-bg;
    border-color: $light-border;
  }

  a,
  button {
    background: $light-bg;

    &.open,
    &:hover,
    &:focus {
      background: $light-bg-hover;
    }
  }

  #toolbar-bar {
    background: $light-bg;
    border-right: 1px solid $light-border;
    // Tabs colering
    .toolbar-tab {
      & > a,
      & > button {
        background: $light-bg-transparent;
        &.open,
        &:hover,
        &:focus {
          background: $light-bg-hover;
        }
      }
    }

    .toolbar-tray {
      background: $light-bg;

      .menu-item-title {
        color: $light-color;
      }

      a {
        color: $light-color !important;
      }
      .seeds-expand-item {
        &:before,
        &:after {
          background: $light-color;
        }
      }
    }
  }

  .seeds-toolbar-background {
    background: $light-bg;
    border-color: $light-border;
  }

  li {
    &.mobile-open {
      @media (max-width: 767px) {
        a {
          background: $light-bg-hover;
        }
      }
    }
  }

  // Scroll bar
  .toolbar-tray {
    nav {
      &::-webkit-scrollbar-thumb {
        background: $light-bg-hover;
      }
      scrollbar-color: $light-bg-hover $light-bg !important;
    }
  }

  .toolbar-tray {
    &::-webkit-scrollbar-thumb {
      background: $light-bg-hover;
    }

    scrollbar-color: $light-bg-hover $light-bg !important;

    .menu-item--expanded {
      &:hover {
        > a {
          background: $light-bg-hover !important;
        }

        & > ul {
          & > li:first-child {
            &:before {
              border-right-color: $light-bg !important;
            }

            &:hover {
              &::before {
                border-right-color: $light-bg-hover !important;
              }
            }
          }
        }
      }
    }
  }

  h2.seeds-heading {
    color: $light-color;
    font-weight: bold;
  }

  .seeds-toolbar-search-container {
    input {
      border-color: $light-border;
      color: $light-color;
      &::placeholder {
        color: $light-placeholder;
      }
    }
  }

  .toolbar-fixed-help-item {
    border-color: $light-border;
  }
}

&.seeds-local-tasks {
  nav.tabs {
    background-color: $light-bg;

    > .tabs--primary.nav-tabs {
      li {
        a {
          color: $light-color;

          &:hover {
            background-color: $light-bg-hover;
          }
        }
      }
    }
  }
}
