// Toolbar Tabs, First level.
#toolbar-bar {
  line-height: normal;
  height: 100%;
  z-index: auto;
  position: relative;
  background: $dark-bg;
  border-right: 1px solid $dark-border;
  > .toolbar-tab {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    & > a,
    & > button {
      position: relative;
      overflow: hidden;
      text-indent: 9999px;
      background: transparent;
      border: 0;
      display: inline-block;
      padding: 0;
      white-space: nowrap;
      width: 40px;
      height: 40px;
      margin-bottom: 22px;
      margin-right: 3px;
      top: 0;
      left: 0;
      cursor: pointer;
      &::after {
        display: none;
      }

      &:before {
        @extend %icon-setup;
      }
      &.open,
      &:hover {
        background: $dark-bg-hover;
      }
    }
    a {
      line-height: normal;
      text-align: start;
    }
  }

  .account {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .contextual-toolbar-tab,
  #responsive-preview-toolbar-tab {
    float: none;

    &:before {
      background: none;
    }
  }
}
