// Inner tabs.
.toolbar-tray {
  margin-left: -1px;
  padding: 100px 0 70px;
  position: fixed;
  left: -250px !important;
  min-width: 260px;
  top: 0;
  bottom: 0;
  z-index: -2;
  transition: $bar-transition;
  scrollbar-color: $dark-bg-hover $dark-bg !important;
  max-width: 260px;
  &#toolbar-item-administration-tray {
    z-index: -1 !important;
  }

  &#toolbar-item-seeds-add-tray {
    padding-bottom: 60px;
    max-width: 250px;
  }

  nav {
    overflow-y: auto;
    height: 100%;
    scrollbar-color: $dark-bg-hover $dark-bg;
    padding-bottom: 100px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $dark-bg-hover;
    }
  }

  .menu-item-title {
    margin: 0;
    color: $dark-tray-headings;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    @include mobile() {
      display: none;
    }
  }

  h2.seeds-heading {
    margin: 0;
    font-size: unset;
    font-weight: 100;
    text-transform: uppercase;
    a {
      color: $dark-tray-headings;
      text-align: center;

      & + ul {
        margin-bottom: 35px;
      }
    }

    margin-top: 20px;
  }

  .seeds-item {
    position: relative;
    .useful-link {
      position: absolute;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      top: 0;
      bottom: 0;
      right: 0;
      visibility: hidden;
    }
    &:hover {
      .useful-link {
        visibility: visible;
      }
    }
  }

  &.shown {
    transition-delay: 0s;
  }

  &.expanded-by-default {
    left: 65px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: $dark-bg-hover;
  }

  @media (max-width: 767px) {
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      position: relative;
      right: 60px;
      width: 10px;
    }
  }
}

.seeds-toolbar-search-container {
  padding: 0 15px;
  margin: 20px 0;
  input {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid $dark-color;
    color: $dark-color;
    &::placeholder {
      color: $dark-placeholder;
    }
  }
}
